doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="/css/styles.css")

  body
    header.header
      nav.nav
        a(class=(activePath === '/' ? 'active' : '') href="/", target="_self", rel="noopener noreferrer").nav__link Home
        if cartProductQuantity > 0
          a(class=(activePath === '/cart' ? 'active' : '') href="/cart", target="_self", rel="noopener noreferrer").nav__link.nav__link--cart Cart
            span.cart-count #{cartProductQuantity}
        else
          a(class=(activePath === '/cart' ? 'active' : '') href="/cart", target="_self", rel="noopener noreferrer").nav__link Cart
        a(class=(activePath === '/add-product' ? 'active' : '') href="/admin/add-product", target="_self", rel="noopener noreferrer").nav__link Admin
  main.main-layout
    block pageContent
  footer.footer fancyshop.com
  .dropdown.js-dropdown
  .modal.js-modal
    h2 Edit
    button.button.button--close.js-close-modal Close
    form.form.form--edit.js-from-edit(method="POST")
     input.input.js-title-input(type="text", name="title", placeholder="Product name")
     input.input.js-price-input(type="number", name="price", placeholder="Product price")
     input.input.js-desc-input(type="text", name="description", placeholder="Product description")
     input.input.js-img-url-input(type="text", name="imageScr", placeholder="Product image url")
     button.button(type="submit") Apply changes
  block pageScript